//templates/response.html
{% for i in propertylist %}  
<div class="card mb-3 card-columns mx-auto d-flex justify-content-center col-12" style="width: 70rem;">
    <img src="{{i['s3_object_link']}}" style=" width: 100%; height: 15vw; object-fit: cover;" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{i['name']}}</h5>
        <p class="card-text">District: {{i['district']}} </p>
        <p class="card-text">{{i['address']}}</p>
        <p class="card-text">S${{i['price']}}</p>
        <p class="card-text">{{i['bedroom']}} <i class="fa-solid fa-bed-empty"></i></p>
        <p class="card-text"><small class="text-muted">Listed by {{i['name']}}</small>   <a href="/user/viewlisting/{{i['id']}}" class="btn btn-primary" style="float: right;">More Details</a></p>

    </div>
  </div>
{% endfor %} 